@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* index.css or App.css */

/* Override slick carousel styles */
.slick-prev,
.slick-next {
  z-index: 2;
  width: 40px;
  height: 40px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #333;
}

.container {
  position: relative;
  overflow: hidden; /* Add this line to hide overflow */
}

.slick-list {
  overflow: hidden;
}

.slick-slide > div {
  margin: 0 10px;
  box-sizing: border-box; /* Ensure correct sizing */
}

